Assignment 1

ANSWER -1

* is a expression or operator it is used for multiplication

'hello' is a string hence it falls under the category of value

-87.8 it is value

/ is an expression

+ is an expression

6 it is a value

ANSWER - 2

 The difference between string and variable is that in variable we store the information and string is type information we store in a variable.
 for example  name ='shekhar' here name is the variable and shekhar is the string type information

ANSWER - 3

We have int as the data type in python which can store integer value, this comes under numeric data type

we have boolean data type in python which is true and false

we have set and seqeunce data type in python.

ANSWER - 4

An expression is the combination of operators and operands that is used to produce some values, they are constructed according to the syntax of
the language, that evaluates to single value.for example:( +, -, *,etc) they are all expressions

ANSWER - 5

spam=10, here spam is a variable and 10 is the value
an Expression always evaluates to a value. 
and a statement does something, like creating a variable or displaying a value, it only does whatever the statement says

ANSWER - 6

In [2]:
bacon=22

In [3]:
bacon+1

23

In [4]:
bacon

22

ANSWER-7

In [5]:
'samp'+'spamspam'

'sampspamspam'

In [6]:
'samp'*3

'sampsampsamp'

 the results are same for both above

ANSWER - 8

because the variable name cannot begin with the number as we assign values to the variable which can be of any data type, 3three='string', as 3three it is invalid because it starts with 3 as valid will three3 as variable name starts with alphabet
have given the name to the variable which is not valid.

ANSWER - 9

for integer it is int()
for string it is str()
for float it is float()

ANSWER 10

In [8]:
'i have eaten' +99+ 'burritos.'

TypeError: can only concatenate str (not "int") to str

as it will show error because 99 is the integer type and (i have eaten, burritos) is string type, we haven't mention the 99 value type as python interpretor cannot take this correction of this will be

In [9]:
' i have eaten +99+ burritos'

' i have eaten +99+ burritos'