Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [30]:
def next_in_line(lst, num):
    if not lst:
        return "No list has been selected"
    lst.pop(0)
    lst.append(num)
    return lst

In [31]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [32]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [33]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [34]:
next_in_line([], 6)

'No list has been selected'

question 3:
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) âžž 65700

In [43]:
def get_budgets(lst):
    return sum(d['budget'] for d in lst)

In [44]:
get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ])

65700

In [45]:
l= [ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]

In [49]:
get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ])

62600

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [54]:
def alphabet_soup(string):
    char_list = list(string)
    sorted_char = sorted(char_list)
    sorted_string = "".join(sorted_char)
    return sorted_string

In [55]:
alphabet_soup("hello")

'ehllo'

In [57]:
alphabet_soup('edabit')

'abdeit'

In [58]:
alphabet_soup('hacker')

'acehkr'

In [ ]:
A = P(1 + \frac{r}{n})^{nt}

question 4 :
    Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

In [69]:
import math
def compound_interest(p, t, r, n):
    A = p*(1 + r/n)**(n*t)
    return round(A, 2)

In [70]:
compound_interest(100, 1, 0.05, 1)

105.0

In [71]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [72]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Question5
Write a function that takes a list of elements and returns only the integers.

In [73]:
def return_only_integers(lst):
    l=[]
    for i in lst:
        if type(i)==int:
            l.append(i)
    return l

In [75]:
return_only_integers([9,2, 'space','car','lion',16])

[9, 2, 16]

In [76]:
return_only_integers(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [78]:
return_only_integers(["String", True, 3.3, 1])

[1]