Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [3]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [6]:
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(1112111))

True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [19]:
def multiply_num(num_string):
    lst = [ int(num) for num in num_string.split(",")]
    prod=1
    for num  in lst:
        prod *=num
    return prod

In [20]:
multiply_num("2,3")

6

In [21]:
multiply_num("1,2,3,4")

24

In [22]:
multiply_num("10, -2")

-20

Question 3
Create a function that squares every digit of a number.

In [27]:
def square_digits(num):
    result = ''
    for digit in str(num):
        result += str(int(digit)**2)
    return int(result)

In [28]:
square_digits("234")

4916

In [29]:
square_digits(2483)

416649

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [33]:
def setify(lst):
    return list(set(sorted(lst)))

In [34]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [35]:
setify([4, 4, 4, 4])

[4]

In [36]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

Question 5
Create a function that returns the mean of all digits.

In [39]:
def mean(num):
    digits = [int(i) for i in str(num)]
    return sum(digits)//len(digits) if len(digits)>0 else 0

In [40]:
mean(42)

3

In [41]:
mean(12345)

3

In [42]:
mean(666)

6